@media (min-width: 769px) {
  .fs-sm {

    &-1 {
      font-size: 64px !important;
    }
    &-2 {
      font-size: 56px !important;
    }
    &-3 {
      font-size: 42px !important;
    }
    &-4 {
      font-size: 32px !important;
    }
    &-5 {
      font-size: 24px !important;
    }
    &-6 {
      font-size: 22px !important;
    }
    &-7 {
      font-size: 18px !important;
    }
    &-8 {
      font-size: 16px !important;
    }
    &-9 {
      font-size: 15px !important;
    }
    &-10 {
      font-size: 14px !important;
    }
    &-11 {
      font-size: 13px !important;
    }
    &-12 {
      font-size: 12px !important;
    }
  }
}

@media (min-width: 769px) {
  .fw-sm {
    &-700 {
      font-weight: 700 !important;
    }
    &-600 {
      font-weight: 600 !important;
    }
    &-500 {
      font-weight: 500 !important;
    }
  }
  }
