.info {
	padding: 40px 0 32px;

	@include for-mobile {
		padding: 16px 0 24px;
	}

	&__slider {
		margin-top: 40px;
		padding-bottom: 64px;

		@include for-mobile {
			margin-top: 16px;
			padding-bottom: 0;
		}

		& .swiper {
			&-wrapper {
				@extend .align-items-stretch;
			}
		}

		& .card {
			min-height: 152px;

			&-title {
				@extend .fs-7, .mb-1;
			}

			&-body {
				@extend .d-flex, .flex-column;
			}

			&__text {
				@extend .mb-auto;
			}
		}
	}
}
