.passenger {

  &__add {

    li {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      padding: 12px 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__new {

    li {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      padding: 12px 16px;

      &:not(:last-child) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:last-child {
        display: flex;
        align-items: center;

        white-space: nowrap;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #0066FF;
        padding: 16px;

        &:hover, &:focus, &:active {
          color: #005DE9 !important;
        }

        &::before {
          content: url("./img/passenger/passenger-new.png");
          margin-right: 8px !important;
          width: 24px !important;
          height: 24px !important;
        }
      }
    }

    //& .select2-container .select2-selection--single .select2-selection__rendered {
    //  white-space: nowrap !important;
    //  overflow: hidden !important;
    //  text-overflow: ellipsis !important;
    //}

    //li {
    //  position: relative;
    //  padding: 0 18px 0 16px;
    //  height: 44px;
    //  display: flex;
    //  align-items: center;
    //  background-color: blue;
    //
    //  &::before {
    //    content: "";
    //    background-image: url("./img/search-cruise/arrow.png");
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //  }
    //}
  }

  &__doc {
    &-select {
      height: 47px;
      border: 1px solid #EDEDEE;

      & .select2 {
        &-container .select2-selection--single .select2-selection__rendered {
          padding-top: 0;
          padding-left: 16px;

          &::before {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: 20px;
            content: "";
            background-image: url("./img/search-cruise/vector.png");
            background-repeat: no-repeat;
            background-position: center;
            width: 10px;
            height: 6px;
          }
        }

        &:hover,
        &:focus {
          border: 1px solid blue !important;
        }
      }
    }

    &-date {
      & .datepicker-here {
        border: 1px solid #EDEDEE !important;
        @extend .border-light, .w-100, .px-3, .py-1, .fs-9;
        transition: $transition-base;
        height: 47px !important;
        outline: 0;

        &:hover,
        &:focus {
          @extend .border-blue;
        }
      }
    }

    &-passport {
      display: none;
    }

    &-birth-certificate {
      display: none;
    }
  }
}

.passenger__doc-select .select2-container .select2-selection--single .select2-selection__rendered {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  width: 260px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

//
//.select2-container--default .select2-results__option {
//  //display: flex;
//  align-items: center;
//}

.passenger-data {
  display: none;

  & .form-check {
    padding: 16px 0;
  }
}

.passenger__doc-select3 {
  height: 47px;
  border: 1px solid #EDEDEE;

  & .select2 {
    &-container .select2-selection--single .select2-selection__rendered {
      padding-top: 0;
      padding-left: 16px;

      &::before {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 20px;
        content: "";
        background-image: url("./img/search-cruise/vector.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 10px;
        height: 6px;
      }
    }

    &:hover,
    &:focus {
      border: 1px solid blue !important;
    }
  }
}

.pricee {
  display: none;
}

.passenger-data {
  .passenger__doc-select4 {
    height: 72px !important;
  }
}

.pass-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #6C6C70;
  margin-top: 5px;
  margin-bottom: 0 !important;
}
